body{
	 font-family: "Avenir Next";
}
.header{
	background-color: #26d0c9;
  color: #fff;
  height: 90px;
}
.main{
	padding-top:100px;
  padding-bottom:100px;
  padding-right:80px;
  padding-left:80px;
}
.copy-container h1{
  font-size:140px;
}

.copy-container h2{
  font-size:60px;
}

.copy-container span{
  color:#ff4a4a;
}

.section-title{
	border:2px solid #dee7ec;
	font-size:28px;
  padding-bottom:20px;
  margin-bottom:50px;
}

.contents{
  height:500px;
  margin-top:100px;
}

.contents-item{
  float:left;
  margin-right:40px;
}

.contents-item p{
  font-size:24px;
  margin-top:30px;
}

.contact-form{
	padding-top: 100px;
}

.contact-form input{
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}

.contact-form textarea{
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}

.contact-submit{
  background-color:#dee7ec;
  color:#889eab;
}

.footer{
	 background-color: #ceccf3;
  height: 270px;
}
.header-list li{
	
	float: left;
	/*padding-top:33px;
  padding-bottom:33px;
  padding-right:20px;
  padding-left:20px;*/
   padding: 33px 20px;
}
.header-logo{
	 float: left;
  font-size: 36px;
  padding-top:20px;
  padding-bottom:20px;
  padding-right:40px;
  padding-left:40px;
}
li{
	list-style: none;
	
}
.footer-list{
	float: left;
}

.footer{
	background-color: #2f5167;
  
  color:#fff;
  
  height: 120px;
  
  padding-top:40px;
  padding-bottom:40px;
  padding-right:40px;
  padding-left:40px;
  padding-bottom:40px;
}
.footer-logo{
  font-size:32px;
  float:left;
}

.footer-list {
  float:right;
  
}

.footer-list li{
  
  padding-bottom:20px;
  
}